<!DOCTYPE html>
<html>
<head>
  <title>Payable</title>
  <%= stylesheet_link_tag    "payable/application", :media => "all" %>
  <%= javascript_include_tag "payable/application" %>
  <%= csrf_meta_tags %>
  <script type='text/javascript' src='https://desenvolvedor.moip.com.br/sandbox/transparente/MoipWidget-v2.js'></script>
  
</head>
<body>

<%= yield %>

</body>
</html>
